@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(0);
    }
}

/* General Styles */
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #00ff00; /* Green text */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Chat Container */
.chat-container {
    max-width: 800px;
    width: 800px;
    margin: 20px auto;
    background-color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

/* Chat Log */
.chat-log {
    height: 500px;
    padding: 20px;
    overflow-y: auto;
    animation: fadeIn 0.5s ease;
    scrollbar-width: thin;
    scrollbar-color: #02cf02 #001400;
}

.chat-log::-webkit-scrollbar {
    width: 12px;
}

.chat-log::-webkit-scrollbar-thumb {
    background-color: #00ff00; /* Green */
    border-radius: 10px;
}

.chat-log::-webkit-scrollbar-track {
    background-color: #001400; /* Dark green */
}

/* Message Styles */
.message {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.4;
    animation: slideIn 0.3s ease;
}

.ai-message {
    background-color: #001400; /* Dark green */
}

.user-message {
    background-color: #004200; /* Darker green */
}

/* User Input Styles */
.user-input {
    display: flex;
    padding: 15px;
    border-top: 1px solid #004200; /* Darker green */
    animation: slideIn 0.3s ease;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #004200; /* Darker green */
    border-radius: 3px;
    font-size: 14px;
    transition: border-color 0.3s ease;
    background-color: #001400; /* Dark green */
    color: #00ff00; /* Green text */
    font-family: 'Courier New', Courier, monospace;
}

input:focus {
    border-color: #00ff00; /* Green */
}

button {
    padding: 10px 16px;
    margin-left: 8px;

    background-color: #001400; /* Dark green */
    color: #00ff00; /* Green text */
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Courier New', Courier, monospace;
}

button:hover {
    background-color: #00cc00; /* Lighter green on hover */
}

canvas#matrixRain {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
}
